<!DOCTYPE html><html>
  <head>
    <meta charset=utf-8>
    <title>{{title}}</title>
    <style type=text/css>
      html {
        padding: 4em;
        font: 100% "Helvetica Neue", helvetica, arial, sans-serif;
        line-height: 1.2;
        background: #eee;
      }
      body {
        max-width: 940px;
        padding: 4em;
        margin: 0 auto;
        background: #fff;
        box-shadow: 0 0 10px #ccc;
        word-wrap: break-word;
      }
      h1 {
        font-size: 2em;
        color: #d13a30;
        border-bottom: 1px solid #eee;
        padding-bottom: 0.5em;
      }
      h1,
      h2 {
        font-size: 1.75em;
        margin: 0 0 2em;
      }
      pre {
        display: block;
        padding: 1em;
        background: rgba(209, 58, 58, 0.2);
        font-size: 1em;
        font-family: Monaco, courier, monospace;
      }
      dl {
        margin: 2em 0;
      }
      dt {
        font-weight: bold;
        margin: 0.5em 0 0;
      }
      dt:first-child {
        margin-top: 0;
      }
      dd {
        margin-left: 1em;
      }
    </style>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
